.container {
  height: auto;
  width: auto;
  margin: 1em;
  border: 1px solid #707070;
  padding: 20px;
}

input,
select {
  border: 2px solid #555;
  margin-left: 4px;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  min-width: 75px;
}

button:hover:enabled {
  background-color: #0056b3;
  color: white;
}

p {
  font-size: 20px;
  margin: 2px;
}

.radioGroup > * {
  padding: 5px;
}
